@page
@model JS_Ecommerce.Pages.Promotions.DetailsModel
@{
    ViewData["title"] = "Promotion Details - The Jon Snow Shop";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <h2>@Model.DetailedPromo.PromoId Details</h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DetailedPromo.PromotionName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DetailedPromo.PromotionName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DetailedPromo.PromotionType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DetailedPromo.PromotionType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DetailedPromo.MinimumOrderValue)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DetailedPromo.MinimumOrderValue)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DetailedPromo.OrderSubTotal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DetailedPromo.OrderSubTotal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DetailedPromo.Start)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DetailedPromo.Start)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DetailedPromo.End)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DetailedPromo.End)
            </dd>
        </dl>
        <a class="btn btn-info" asp-page="/Promotions/Index">Back to Promotions</a>
    </div>
</body>